.logo
{
  margin-right: 5px;
  float: right;
}
 .title{
  margin-top: 7px;
  float: right;
  }

header{
 background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(Images/hen23.jpg);
 height: 150vh;
 width: 230vh;
 background-size: cover;
 background-position: center;
 } 
  
 .font{
 font-size: 25px;
 font-family: arial;
 color: #eee6e2;
 text-decoration: none;
 float: left;
 margin-top: 30px;
 margin-left: 50px;
}
a{
 padding: 7px 15px;
 transition: 0.5s ease;
  }
a.font:hover{
  background-color: #f6a00b;
  color: #000;
}
#active{
 background-color: #f6a00b;
 color: #fff;
}
ul{
 float: left;
 list-style-type: none;
}
.main
{
  max-width: 1000px;
  margin: auto;
}

